body {
    color: #404040;
    font-family: Franklin Gothic, Helvetica, Arial, sans-serif;
    font-size: 16px;
	margin-bottom: 50px !important;
	hr {
		background-color: #428bca;
		height: 10px;
		border-top: 0;
	}
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
	margin-top: 0px;
	.popover-title {
		font-size: 18px !important;
	}
}

li {
	.user-welcome {
		color: #ffffff;
		display: block;
		padding-left: 20px;
	}
}	

.img-responsive {
	min-width: 100%;
}

.nowrap {
	white-space:nowrap;
}

.highlight {
	color: #fcad1c;
}

.ui-loader {
	display:none;
}

.dot-text {
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.info-button, .carousel-info-button {
	position: absolute;
	top: 5px;
	right: 6px;
	width: 16px;
	color: #FFFFFF;
	cursor: pointer;
}

.btn-default {
    background-image: none;
}

#video-video {
	.btn-default {
		margin-bottom: 10px;
	}
}

.user-menu {
	margin-top: 10px !important;
}

#video-player {
	padding: 0px;
	.video-info {
		margin-left: 5px;
		margin-right: 5px;
	}
}
.popover {
	position: absolute;
	top: 0px;
	background-color: #12497A;
	color: #ffffff;
	width: 250px;
	z-index: 250000;
	.popover-title {
		background-color: #12497A;
		color: #ffffff;
		border-bottom: none;
		font-size: 18px !important;
	}
	.popover-content {
		padding: 9px 10px !important;
		footer {
			font-size: 12px;
			margin-bottom: -5px;
			.video-thumbs-up {
				color: #39B54A;
			}
			.video-thumbs-down {
				color: #C1272D;
			}
			.video-comments {
				color: #FCAD1D;
			}
		}
	}
	&.right > .arrow:after {
		border-right-color: #12497A;
	}
	&.left > .arrow:after {
		border-left-color: #12497A;
	}
	&.top > .arrow:after {
		border-top-color: #12497A;
	}
	&.bottom > .arrow:after {
		border-bottom-color: #12497A;
	}
}

#matching-videos-xs {
	display: none;
}

#on-stage-carousel {
	background-color: #F0F1F4;
    padding-left: 0;
    padding-right: 0;	
	.video-preview {
		border: 0 solid #cccccc;
		padding: 0;
	}	
	.video-title {
		h3 {
			height: 30px;
		}
	}
	h2 {
		a {
			color: #000000;
		}
	}
	.active-logline {
		font-style: italic;
		color: #404040;
		font-size: 20px;		
	}
	.active-info {
		color: #404040;
		font-size: 20px;		
		padding-right: 45px;
	}
	.video-info {
		overflow: hidden;
		.internal-wrapper {
			width: 100%;
		}
	}
	.carousel-caption {
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}

#video-info {
	position: relative;
	top: -6px;
	padding-top: 0px;
	margin-top: -34px;
	color: #ffffff;
	background-color: #559FD2;
	padding-top: 10px;
	padding-left: 15px;
	table {
		tr {
			td {
				vertical-align:top;
			}
		}
	}
	#video-title {
		h1 {
			margin-top: 0;	
			margin-bottom: 0;
			font-size: 150%;
			#favorite-link {
				cursor: pointer;
				color: #ffffff;
				&:hover {
					color: #FCAD1D;
				}
			}
		}
	}
	#video-author {
		h2 {
			margin-top: 0;	
			margin-bottom: 0;
			font-size: 125%;
			a {
				color: #ffffff;
				&:hover, &:focus, &:visited {
					color: #ffffff;
				}	
			}
		}
	}
	.interaction-buttons {
		.interaction-button {
			border: 2px solid #ffffff;
			color: #ffffff;
			&:hover, &:focus, &:visited {
				background: rgba(255, 255, 255, 0.1); 
				background-color: #ffffff;
				border: 1px solid #ffffff;
				color: #559FD2;
			}
		}
	}
	.video-views {
		padding-right: 30px;
	}
	.video-ratings {
		padding-right: 30px;
	}
}

.matching-videos {
	list-style-type: none;
	padding-left: 0px;
	padding-bottom: 60px;
	li {
		margin-bottom: 10px;
		.video-preview {
			.video-caption {
				position:absolute;
			}	
		}
	}
}

.carousel-caption, .video-caption {
	background: none repeat scroll 0 0 rgba(18, 73, 122, 0.75) !important;
	color: #ffffff;
	bottom: 2px;
	left: 2px;
	right: 2px;
	height: 60px;
	padding: 0px;
	position: absolute;
	.video-title {
		padding-left: 10px;
		width: 90%;
		float: left;
		.dot-text {
			height: 16px;
		}
	}
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: left;
		font-size: 26px;
		font-weight: normal;
	}
	&.small {
		h3 {
			font-size: 14px;
		}
	}
	&.category {
		.video-title {
			.dot-text {
				height: 32px;
			}
		}
	}
}





.carousel-caption {
	h3 {
		font-size: 26px;
	}
}

#matching-videos-xs {
	.carousel-caption {
		left: 0px;
		h3 {
			font-size: 14px;
		}
	}
}

.video-caption {
	h3 {
		font-size: 14px;
	}
}

.boxed-list {
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	li {
		display: inline-block;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		border-radius: 4px;
		background: transparent;
		border: 2px solid #12497A;
		font-size: 16px;
		margin: 1px;
		padding: 6px;
		min-width: 100px;
		a {
			color: #12497A;
			text-decoration: none;
		}
		&:hover {
			background-color: #12497A;
			a {
				color: #ffffff;
			}
		}
	}
}



.vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.tablet-wide {
	display: none;
}

.interaction-button {
	border-radius: 4px;
	font-size: 12px;
	width: 90px;
	background: transparent;
	border: 2px solid #12497A;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 3px;
	color: #12497A;
	&:hover, &:focus, &:visited {
		background: rgba(255, 255, 255, 0.1); 
		background-color: #12497A;
		border: 1px solid #12497A;
		color: #ffffff;
	}
}

.ad-panel {
	text-align: center;
	img {
		max-width: 100%;
	}
}

.container {
	max-width: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#on-stage-header{
	padding-left: 30px;
}

.login {
	padding-right: 5px;
	margin-left: 5px;
}

.about-img-right {  
	float: right;
	margin: 10px;
	max-width: 25%;
}

.about-img-left {  
	float: left;
	margin: 10px;
	max-width: 25%;
}

.advertisement-title {
	text-align: center;
    font-family: 'MuseoSlab-500';
	letter-spacing:3px
}

.navbar {
	border-radius: 0px;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom, #12497A 0px, #12497A 100%);
	background-color: #12497A;
	.btn {
		&:hover {
			color: #ffffff;
		}
		&:focus {
			color: #ffffff;
		}
		&.dropdown-toggle {
			padding: 0px 6px;
		}
	}
	.navbar-text {
		color: #ffffff;
		padding-left: 10px;
		margin-bottom: 0;
	}
	.navbar-brand {
		color: #ffffff;
		margin-left: 30px;
	}
	.navbar-right {
		.dropdown-menu {
			left: -112px;
		}
	}
	
	.navbar-nav > li > .dropdown-menu {
		margin-top: 15px;
		background-color: #fcad1c;
		li {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.navbar-nav > li > a {
		color: #ffffff;
		&:hover {
			background: rgba(255, 255, 255, 0.1); 
		}
		&.dropdown-icon {
			padding-left: 5px;
			padding-bottom: 5px;
			padding-top: 5px;
		}
	}
	.navbar-nav > .open > a {
		background-color: #1767A8;
		&:hover {
			background-color: #1767A8;
		}
		&:focus {
			background-color: #1767A8;
		}
	}
	.navbar-toggle {
		margin-right: 30px;
		&:hover {
			background-color: #1767A8;
		}
		&:focus {
			background-color: #1767A8 !important;
		}
	}
}

#townspot-nav {
	padding-left: 0px !important;
	.nav-logo {
		font-size: 18px;
	}
	.user-dropdown {
		font-size: 18px;
		margin-top: -4px;
	}
	ul {
		margin-left: 35px;
		margin-right: 35px;
		&.navbar-left {
			li {
				float: left;
			}
		}
		.nav-logo {
			a {
				padding-top: 9px;
				padding-bottom: 5px;
				img {
					padding-bottom: 3px;
				}
			}
		}
	}
	.dropdown {
		a {
			color: #12497A;
		}
	}
	.dropdown-menu {
		margin-top: 0px;
		padding-top: 5px;
		background-color: #ffffff;
		color: #12497A;
		.state-selector {
			width: 90%;
			margin-bottom: 3px;
			&:hover {
				background-color: #12497A;
				color: #ffffff;
			}
		}
		.city-selector {
			width: 90%;
			margin-bottom: 3px;
			&:hover {
				background-color: #12497A;
				color: #ffffff;
			}
		}
	}
}

.navbar-townspot {
	position: relative;
	top: -20px;
	background-color: #FCAD1C;
	color: #ffffff;
	ul {
		margin-left: 10px !important;
		&.category-list {
			list-style-type: none;
			padding-left: 0px;
			margin-left: 0px !important;
		}
	}
	.btn {
		&:hover {
			color: #ffffff;
		}
		&:focus {
			color: #ffffff;
		}
		&.dropdown-toggle {
			padding: 0px 6px;
		}
	}
	.navbar-text {
		color: #ffffff;
		padding-left: 10px;
	}
	.navbar-brand {
		color: #ffffff;
	}
	.navbar-right {
		.dropdown-menu {
			left: -112px;
		}
	}
	.navbar-nav > li > .dropdown-menu {
		margin-top: 15px;
		background-color: #FCAD1C;
		li {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.navbar-nav > li > a {
		color: #ffffff;
		&:hover {
			background-color: #FCAD1C;
		}
		&.dropdown-icon {
			padding-left: 5px;
			padding-bottom: 5px;
			padding-top: 5px;
		}
	}
	.navbar-nav > .open > a {
		background-color: #FCAD1C;
		&:hover {
			background-color: #FCAD1C;
		}
		&:focus {
			background-color: #FCAD1C;
		}
	}
	.navbar-toggle {
		&:hover {
			background-color: #FCAD1C;
		}
		&:focus {
			background-color: #FCAD1C !important;
		}
	}
}

.navbar-form {
	position: relative;
	.search {
		position: absolute;
		right: 40px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.search-button {
		position: absolute;
		right: 0px;
		width: 40px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		&:hover {
			background-image: linear-gradient(to bottom, #1767a8 0px, #1767a8 100%);
			background-color: #1767A8;
		}
	}
}

.social-media_wrapper {
	border-bottom: 2px solid #000000;
	margin-left: 16px;
}

.addthis_toolbox {
	a {
		color: #707172;
		&:hover {
			color: #1767A8;
		}
	}
}

#rate-up {
	cursor: pointer;
	font-size: 150%;
	&:hover {
		color: #FCAD1D;
	}
	&.disabled {
		color: #FCAD1D;
	}
}

#rate-down {
	cursor: pointer;
	font-size: 150%;
	&:hover {
		color: #12497A;
	}
	&.disabled {
		color: #12497A;
	}
}

.category-selector {
	font-size: 30px;
}


#discover-nav {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#discover-sort {
	margin-bottom: 5px;
}

#Loading {
	.modal-dialog {
		.modal-content {
			.modal-body {
				text-align: center;
				img {
					height: 60px;
					width: 60px;
				}
			}
		}
	}
}

#discover-status-display {
	background-color: #F7BD69;
	.subcategory-list {
		padding-top: 10px;
		list-style-type: none;
		li {
			a {
				color: #FFFFFF;
				font-size: 18px;
			}	
		}
	}
	table {
		margin-left: 24px;
		margin-bottom: 10px;
		tr {
			td {
				vertical-align: top;
				font-family: Arial, sans-serif;
				padding-right: 20px;
				font-size: 20px;
				color: #12497A;
				h3 {
					font-size: 18px;
					color: #ffffff;
				}
				img {
					position: relative;
					top: -5px;
					cursor:pointer;
				}
				&.selected-category-heading {
					color: #FFFFFF;
					font-size: 18px;
				}
				&#subcategories-list{
					a {
						color: #FFFFFF;
						font-size: 18px;
					}
				}
				.sub-categories {
					margin-top: 0px;
					margin-left: 30px;
					td {
						margin: 5px;
						border: 2px solid #ffffff;
						font-size: 12px;
						color: #ffffff;
						min-width: 140px;
						display: inline-block;
						padding: 3px;
						text-align: center;
						&.update-subcategory {
							&:hover {
								background-color: #1767A8;
								cursor: pointer;
								border: 2px solid #1767A8;
							}
						}
					}
				}
				&.nowrap {
					white-space:nowrap;
				}
			}
		}
	}
}

#footer {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    .navbar-inner {
		background-color: transparent;
		border-color: transparent;
		background-image: none;
    }
    .nav > li > a {
		color: #000000;
    }
	.social-media {
		ul {
			margin-right: 30px;
			list-style-type: none;
			li {
				margin-left: 5px;
				margin-top: 10px;
				float: left;
			}
		}
	}
	.footer-contact {
		a {
			color: #000000;
		}
	}
}

.townspot-btn {
	background-color: #fcad1c !important;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-left: -42px !important;
	margin-right: -30px !important;
}

#header {
	.ts-logo {
		margin-top: 20px;
	}
}

.matching-videos-btn {
	.popover {
		min-width: 260px;
		max-width: 260px;
		width: 260px;
		position: absolute;
		top: -70px !important;	
	}

	.popover.left > .arrow {
		top: 80px !important;
	}

	.popover.right > .arrow {
		top: 80px !important;
	}
}

#city-index {
	.popover {
		min-width: 260px;
		max-width: 260px;
		width: 260px;
		position: absolute;
		top: -70px !important;	
		&.left > .arrow {
			top: 80px !important;
		}
		&.right > .arrow {
			top: 80px !important;
		}
	}
}

.dropdown-menu.user-controls {
	min-width: 320px;
}

.user-nav {
	float: left;
	width: 50%;
	ul {
		list-style: none !important;
		padding-left: 10px;
		li {
			margin-left: 0px !important;
			a {
				color: #000000;
			}
		}
	}
}

.choose-spot {
	float: left;
	width: 50%;
	border-left: 1px solid #ffffff;
	ul {
		list-style: none outside none;
		padding-left: 10px;
		li {
			margin-left: 0px !important;
		}
	}
}

div {
	#current-city {
		min-height: 85px;
		.city-skyline {
			min-height: 85px;
		}
		.info {
			bottom: 40px;
			font-family: "corner-store",sans-serif;
			font-style: normal;
			font-weight: 400;
			position: absolute;
			right: 0;
			top: 20%;
			text-align: right;
			.city-name {
				a {
					color: #FCAD1C;
					font-size: 30px;
				}
			}
			.user-welcome {
				display: block;
			}
		}
	}
}
.carousel {
	margin-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.carousel-indicators {
    bottom: -35px;
    left: inherit;
    right: 1%;
    width: auto;
	li {
		border: 1px solid #000;
	}
	.active {
		background-color: #000;
	}
}

.carousel-inner {
	overflow: visible;
	
}

.indicator-standin {
	display: block;
	list-style: none outside none;
	padding-left: 0;
	float: right;
	text-align: right;
	z-index: 15;
	display: block;
	li {
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid #000000;
		border-radius: 10px;
		cursor: pointer;
		display: inline-block;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		width: 10px;
	}
	.active {
		background-color: #000000;
		height: 12px;
		margin: 0;
		width: 12px;
	}
}



.explore-btn-wrapper {
	display: none;
	margin-top: -20px;
	padding-top: 0px;
	margin-bottom: 10px;
	.explore-btn {
		margin-left: 20px;
		background-color: #FCAD1C;
		color: #FFFFFF;
		margin-top: 15px;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		height: 40px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-top: 0;
		padding: 5px;
		span {
			position: relative;
			top: -2px;
		}
	}
}

#explore-btn-location {
	top: 0px;
}

#city-index {
	.ad-panel {
		margin-top: 20px;
	}
}

#carousel-info {
	font-size: 20px;
	font-family: Franklin Gothic, Helvetica, Arial, sans-serif;
	position: relative;
	h2 {
		a {
			color: #000000;
		}
	}
	.active-logline {
		font-style: italic;
	}
}

.login {
	.oauth {
		.btn-primary {
			margin: 0px 13px 14px;
		}
	}
}

.video-preview {
	position: relative;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	padding: 3px;
	&:hover {
		background: none repeat scroll 0 0 #fcad1c;
	}
	a {
		color: #ffffff;
	}
	&:hover {
		.carousel-caption, .video-caption {
			background: none repeat scroll 0 0 rgba(18, 73, 122, 1.00);
		}
	}
}

.carousel-control {
	position: relative;
	background-image: transparent;
	width: 0;
	top: 42%;
	color: #12497A;
	&.left {
		position: absolute;
		left: -15px;
		&.on-stage-carousel-control {
			left: 0;
			top: 42%;
		}
	}
	&.right {
		position: absolute;
		right: 0px;
		&.on-stage-carousel-control {
			right: 65px;
			top: 42%;
		}
	}
	&:hover {
		color: #12497A;
	}
	&:focus {
		color: #12497A;
	}
}

.modal {
	.modal-header {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		border: 0 none;
		border-radius: 6px 6px 0 0;
		color: #FCAD1C;
		font-family: Franklin Gothic,Helvetica,Arial,sans-serif;
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		padding-bottom: 0px;
		padding-top: 10px;
		text-align: left;
		.close {
			font-family: Gill Sans,sans-serif;
		}
	}
	.modal-body {
		button {
			margin-right: 5px;
		}
	}
}
.alert {
	display: none;
}

.container-indent {
	margin-left: 35px;
	margin-right: 35px;
}

.video-player {
	#comment-field {
		border-radius: 4px;
		border: 2px solid #12497A;
	}
	#comment-submit {
		margin-left: 10px;
		width: 100%;
	}
}


.nopadding-left {
	padding-left: 0px;
}

.nopadding-right {
	padding-right: 0px;
}

.interaction-buttons {
	padding-left: 30px;
}

#comment-list {
	padding-left: 0px;
	list-style-type: none;
	li {
		min-height: 100px;
		img {
			border: 0 none;
			float: left;
			height: 77px;
			width: 77px;
			margin-right: 6px;
			padding: 1px;
			&.img-responsive {
				min-width: 20px;
			}
		}	
		.comment-details {
			color: #606060;
			font-size: 12px;
		}	
		.comment-comment {
			margin: 0px;
		}		
	}
}

.btn-comment-navigation {
	display:none;
}

#comment-navigation-down {
	display:none;
}

#comment-navigation-up {
	display:none;
}

#video-author {
	h2 {
	}
}

.loading {
	display:none;
}

.loading-spinner {
	display:none;
	div {
		margin-left: auto;
		margin-left: right;
		text-align: center;
		img {
			height: 60px;
			width: 60px;
		}
	}
}

#search-results-page{
	padding-left: 30px;
    padding-right: 30px;
	.sort-select {
		margin-bottom: 10px;
	}
	#search-result-count {
		text-align: right;
	}
	.search-result {
		margin-bottom: 10px;
		position: relative;
		.video-info {
			background: none repeat scroll 0 0 rgba(18, 73, 122, 0.75);
			bottom: 2px;
			height: 65px;
			left: 18px;
			padding: 0;
			padding-left: 10px;
			right: 18px;
			color: #FFFFFF;
			position: absolute;
			font-size: 14px;
			h4 {
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 0;
				text-align: left;
			}
			.dot-text {
				height: 20px;
			}
			a {
				color: #FFFFFF;
			}
			.more-info {
				position: absolute;
				top: 0px;
				right: 5px;
			}
		}
	}
}

#discover-page{
	.sort-select {
		margin-bottom: 10px;
		margin-left: 16px;
		display:none;
	}
	#search-result-count {
		text-align: right;
	}
	.loading {
		display:none;
	}
	.loading-spinner {
		display:none;
		div {
			margin-left: auto;
			margin-left: right;
			text-align: center;
			img {
				height: 60px;
				width: 60px;
			}
		}
	}
	.category, .search-result {
		margin-bottom: 10px;
		position: relative;
		.video-info {
			&.category-info {
				h4 {
					padding-top:10px;
				}
			}
			.dot-text {
				height: 20px;
			}
			background: none repeat scroll 0 0 rgba(18, 73, 122, 0.75);
			bottom: 2px;
			height: 65px;
			left: 18px;
			padding: 0;
			padding-left: 10px;
			right: 18px;
			color: #FFFFFF;
			position: absolute;
			font-size: 14px;
			h4 {
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 0;
				text-align: left;
			}
			a {
				color: #FFFFFF;
			}
			.more-info {
				position: absolute;
				top: 0px;
				right: 5px;
			}
		}
	}
	.sidebar-nav {
		ul {
			list-style-type: none;
			padding-left: 0px;
			border-bottom: 2px solid #FCAD1C;
			img {
				position: relative;
				top: -5px;
				cursor:pointer;
			}
			&.sub-categories {
				border-bottom: 0px;
				li {
					color: #428BCA;
					cursor:pointer;
				}
			}
			.dropdown-menu {
				margin-top: 0px;
				padding-top: 0px;
				background-color: #ffffff;
				color: #12497A;
				.state-selector {
					&:hover {
						background-color: #12497A;
						color: #ffffff;
					}
				}
				.city-selector {
					&:hover {
						background-color: #12497A;
						color: #ffffff;
					}
				}
			}
		}
	}
}

#video-info {
	a {
		text-decoration: none;
		color: #ffffff;
		&:hover, &:focus, &:visited {
			color: #ffffff;
		}
	}
	h1 {
		font-size: 16px;
	}
	h2 {
		font-size: 14px;
	}
	table {
		tr{
			th {
				padding: 2px;
			}
			td {
				padding: 2px;
			}
		}
	}
}

.similar-videos {
	text-align: center;
	h3 {
		text-align: left;
	}
}

.read-more, .read-less {
	text-align: center;
	padding: 2px;
	a {
		text-decoration: none;
		text-align: center;
		border-radius: 0px;
		font-size: 12px;
		width: 70px;
		background: transparent;
		border: 2px solid #12497A;
		border-radius: 4px;
		margin-bottom: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
		display: block;
		color: #12497A;
		&:hover, &:focus, &:visited {
			color: #12497A;
		}
	}
	&:hover {
		a {
			background-color: #12497A;
			border: 2px solid #12497A;
			color: #ffffff;
		}
	}
}

.thumbnail {
	margin-bottom: 0;
	img {
		max-height: 100%;
	}
	.caption {
		padding: 0;
		position: absolute;
		bottom: 4px;
		left: 4px;
		right: 4px;
		background-color: rgba(0,0,255,.5);
		color: white;
		border-radius: 0;
		a {
			background-color: transparent;
			border: none;
			color: white;
		}
		title {
			width: 90%
		}
	}
}

#manage-series {
	.series{
		&.active {
			.panel-heading {
				background-color: blue;
                background-image: none;
				color: white;
			}
		}
	}
	.series-media-list {
		.video{
			.fa-plus {
				display: none;
			}
		}
	}
	.available-video-list {
		.video {
			padding: 5px 0;
			.fa-minus, .fa-chevron-up, .fa-chevron-down {
				display: none;
			}
		}
	}
}

#userProfile {
    h3 {
      margin-top: 1em;
    }
	.center {
		text-align: center;
	}
	#username {
		padding: 10px 0px 10px 40px;
		font-weight: bold;
		font-size: 32px;
	}
	#userDetails {
		background-color: #428bca;
		color: white;
		height: 400px;
		a {
			color: white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.edit {
			padding-top: 20px;
		}
		img {
			max-height: 195px;
		}
		h3 {
          margin-top: 0.5em;
			border-bottom: 1px solid whitesmoke;
		}
		#map-canvas {
			height: 125px;
			border: 1px solid whitesmoke;
		}
	}
	#twitter {
		height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
		.noTwitter {
			text-align: center;
			.vertical-center;
		}
		iframe {
			width: 100% !important
		}
	}
	#Comments {
		.list {
			.comment {
				display: none;
			}
			.comment:nth-child(-n+5) {
				display: block;
			}
		}
	}
	#fans {
		.control-container {
			height: 136px;
			text-align: center;
			i.fa {
				.vertical-center;
			}
		}
		.list {
			//max-height: 200px;
			.fangroup:first-child {
				display: block;
			}
			.fangroup:not(:first-child) {
				display: none;
			}
		}
  }

	#videos, #favorites {
        .popover-title {
            margin-top: 0px;
            margin: 0px
        }
		.popover-content {
          font-size: 10px;
          margin: 0;
          padding: 0 13px !important;
		}
		.list {
			&.row {
				margin-bottom: 20px;
			}
			.video {
				margin-bottom: 20px;
				.caption {
					background-color: rgba(18,73,122,0.75);
					color: white;
					position: absolute;
					bottom: 5px;
					right: 20px;
					left: 20px;
					a {
						color: white
					}
					.edit {
						position:absolute;
						bottom: -5px;
						right: 15px;
					}
					.remove,.unfav {
						position: absolute;
						bottom: -5px;
						right: 1px;
                        top: 5px;
					}
                    .info-button {
                        position: absolute;
                        bottom: -5px;
                        right: 18px;
                        top: 4px;
                        div {
                          display: block;
                        }
                    }
					.more-info {
						position: absolute;
						top: 1px;
						right: 1px;
					}
					h4 {
						font-size: 14px;
					}
				}
				.thumbnail{
					height: auto;
					a {
						.vertical-center
					}
				}
			}
			.stats {
				height: 550px;
				margin-bottom: 20px;
			}
			.fa a{
				padding: 5px;
				color: white;
			}
			//div {display:none;}
			//div:nth-child(-n+8) {
				//  display:block;
			//}
		}
	}
}

#videoUpload, #videoEdit {
	.progressbar {
		height: 30px
	}
	.previewPic {
		text-align: center;
		cursor: pointer;
	}
	#picPreview {
		padding: 15px;
	}
	.upload {
		margin-bottom: 15px;
	}
	.list-group {
		li.active {
			background-color: #12497A;
			color: white;
		}
	}
	.nav {
		margin-bottom: 20px;
	}
	.upload {
		margin: 10px 0;
	}
	.selectedCategories {
		span {
			cursor: pointer;
		}
	}
	button.btn {
		height: 56px;
	}
	.categories, #subcats1, #subcats2 {
		font-size: 18px;
		.category {
			cursor: pointer;
			&:hover {
				background-color: #12497A;
				color: white;
			}
		}
	}
	#vidUpload,#picUpload {
		height: 120px;
	}
	#picChooser {
		margin: 0;
	}

    #youtab .youtubelogo {
      width: 75px;
    }

  #youtube .youtubelogo {
      width: 99px;
  }
}

.youtubelogo {
	position: relative;
	top: -2px;
}

#profileEdit, #profileCreate {
	.profilePic {
		text-align: center;
	}
}

#profile {
	& > .row {
		& > *:first-child {
			padding-left: 40px;
		}
		& > *:last-child {
			padding-right: 40px;
		}
	}
	.btn:not(#comment) {
		.interaction-button;
		color: white;
		width: 100%;
		border-color: white;
	}
}

#signup {
	& > .row {
		& > *:first-child {
			padding-left: 40px;
		}
		& > *:last-child {
			padding-right: 40px;
		}
	}
	button.btn {
		height: 56px;
	}
	button#profilePic {
		height: 120px;
	}
}

#profileEdit {
	form,h1,hr {
		padding: 0 40px;
	}
}

.fa-times, .fa-times-circle {
	color: red;
}

.phone-ad, .mobile-ad, .tablet-ad, .desktop-ad {
	text-align: center;
}

.tablet-ad {
	width: 100% !important;
}

@media (min-width: 400px) {
	.mobile-ad {
		display: block;
	}
	.phone-ad, .tablet-ad, .desktop-ad {
		display: none;
	}
}

@media (min-width: 480px) {
	.tablet-small {
		display: none !important;
	}
	.tablet-wide {
		display: block !important;
	}
}
	
@media (min-width: 500px) {
	.tablet-ad {
		display: block;
	}
	.phone-ad, .mobile-ad, .desktop-ad {
		display: none;
	}
	#matching-videos {
		display: none;
	}
	#matching-videos-xs {
		display: block;
		.carousel-caption {
			padding-top: 2px;
			position: relative;
			.video-title .dot-text, .video-caption .video-title .dot-text {
				height: 14px;
			}			
			h3 {
				font-size: 12px;
			}
		}
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	#matching-videos {
		display: block;
	}
	#matching-videos-xs {
		display: none;
	}
	.img-youtube {
		max-height: 249px;
	}

	.img-internal {
		max-height: 249px;
	}
}
	
@media (min-width: 800px) {
	.desktop-ad {
		display: block;
	}
	.phone-ad, .mobile-ad, .tablet-ad {
		display: none;
	}
}

@media (min-width: 992px) {
	.carousel-control {
		&.on-stage-carousel-control {
			top: 35%;
		}
	}
	#video-player {
		width: 80% !important;
	}
}

@media (max-width: 769px) {
	#index-index {
		padding-left: 0px;
		padding-right: 0px;
		.main-content {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	#townspot-nav {
		ul {
			&.navbar-left {
				li {
					float: none;
				}
			}
			&.navbar-right {
				li {
					float: none;
					form {
						margin-left: 55px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 575px) {
	.col-wide {
		width: 100% !important;
	}
}
